/*
* Globals
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600);
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* Include Diavlo Light */
@font-face {
    font-family: 'Diavlo Light';
    src: url('fonts/Diavlo-Light-Regular.ttf.woff') format('woff'),
        url('fonts/Diavlo-Light-Regular.ttf.svg#Diavlo-Light-Regular') format('svg'),
        url('fonts/Diavlo-Light-Regular.ttf.eot'),
        url('fonts/Diavlo-Light-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
* Base structure
*/

html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}
body {
    color: rgb(226, 52, 113);
    text-align: left;
    position: relative;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    position: relative;
    z-index: 100;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.triangle {
    width: 100%;
    height: 100%;
    clip-path: polygon(80% 0%, 100% 0%, 100% 100%, 60% 100%);
    -webkit-clip-path: polygon(80% 0%, 100% 0%, 100% 100%, 60% 100%);
    background-color:  rgb(25, 26, 37);
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
* Header
*/
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Diavlo Light';
    font-size: 35px;
    color: rgb(171, 171, 171);
    float: left;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    color: white;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

.cover {
    padding: 0 20px;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50px;
    left: 65%;
    top: 50%;
    position: absolute;
    background-image: linear-gradient(245deg, rgb(181,56,123) 0%, rgb(227,51,113) 100%);
    border: none;
    font-size: 40px;
}

.cover-heading {
    font-size: 50px;
}

.play {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 86.6px;
    border-color: transparent transparent transparent #007bff;
}

.label-default {
    width: 108px;
    font-size: 100%;
    background-image: linear-gradient( 180deg, rgb(34,36,55) 0%, rgb(40,41,66) 100%);
    box-shadow: 0px 3px 14.55px 0.45px rgba(183, 183, 183, 0.76);
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.label-text {
    color: rgb(25, 26, 37);
}

.nowPlaying {
    margin-bottom: 10px;
    margin-top: 100px;
}

.col-xs-12 {
    padding-left: 0px;
}

.col-sm-8 {
    padding-left: 5px;
}

.row {
    margin-left: 0px;
}

.site-wrapper-inner {
    vertical-align: middle;
}

.masthead {
    position: fixed;
    top: 0;
}

.masthead-nav {
    float: right;
}

@media (max-width: 650px) {
    .cover-heading {
        font-size: 30px;
    }
    .col-xs-8 {
        width: 50%
    }
    .col-xs-12 {
        padding-left: 0px;
    }
    .col-xs-12>span {
        width: 50%;
        display: inline-block;
    }
    .btn-circle.btn-xl {
        left: 70%;
    }
}

@media(max-width: 1400px) {
    .masthead-brand {
        float: none;
    }
    .masthead-nav {
        float: left;
    }
    .masthead-nav>li>a{
        color: rgb(25, 26, 37);
    }
    .masthead-nav > .active > a, .masthead-nav > .active > a:hover, .masthead-nav > .active > a:focus {
        color: rgb(25, 26, 37);
        border-bottom-color: rgb(25, 26, 37);
    }
}


@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 95%;
    }
}