{
    "httpPort": 80,
    "httpsPort": 443,
    "httpsCert": "/cert",
    "httpsKey": "/key",
    "hostname": "http://example.com",
    "apikey": "pleaseReplaceThisWithYourOwnSecret",

    "input": {
        "SHOUTcast": 8000
    },

    "directories": {
        "Icecast": []
    },

    "streams": [
        {
            "stream": "128kbps",
            "password": "password"
        },
        {
            "stream": "320kbps",
            "password": "secure"
        },
        {
            "stream": "live",
            "password": "live",
            "primary": true
        }
    ],
    "geolock":{
        "enabled":false,
        "mode":"whitelist",
        "countryCodes":["BE","FR","GB"],
        "maxmindDatabase":["/home/maya/maxmind/GeoIPCity.dat","/home/maya/maxmind/GeoIPCityv6.dat"]
    }
}
