/* Include Diavlo Light */
@font-face {
    font-family: 'Diavlo Light';
    src: url('../fonts/Diavlo-Light-Regular.ttf.woff') format('woff'),
        url('../fonts/Diavlo-Light-Regular.ttf.svg#Diavlo-Light-Regular') format('svg'),
        url('../fonts/Diavlo-Light-Regular.ttf.eot'),
        url('../fonts/Diavlo-Light-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.navbar-inverse {
    background-color: #232a31;
    padding-top: 15px;
    padding-bottom: 10px;
    .navbar-brand {
        font-family: 'Diavlo Light';
        font-size: 35px;
        color: white !important;
        background-color: inherit;
    }

    .navbar-nav {
        li {
            a {
                font-size: 16px;
                color: white !important;
                background-color: inherit;
            }
            a:hover {
                border-bottom: 2px solid white;
            }
        }
    }
}
.jumbotron {
    background-image: url(../images/head.jpg);
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
    h1{
        text-shadow: 1px 1px 6px black;
    }
    p:first-of-type{
        text-shadow: 1px 1px 6px black;
    }
}
